<div class="contact-container">
  <div class="contact-header">
    <h1>Get in Touch</h1>
    <p>We’re here to help! Reach out to us with any questions or inquiries.</p>
  </div>

  <div class="contact-content">
    <!-- Contact Form Section -->
    <div class="contact-form-section">
      <form
        class="contact-form"
        [formGroup]="contactUsForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="name"> <i class="fas fa-user"></i> Your Name </label>
          <input
            id="name"
            type="text"
            placeholder="Enter your full name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">
            <i class="fas fa-envelope"></i> Your Email
          </label>
          <input
            id="email"
            type="email"
            placeholder="Enter your email address"
            formControlName="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="message">
            <i class="fas fa-comment"></i> Your Message
          </label>
          <textarea
            id="message"
            rows="5"
            placeholder="Write your message here"
            formControlName="message"
            required
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn-primary"
          [disabled]="contactUsForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>

    <!-- Contact Information Section -->
    <div class="contact-info">
      <div class="info-item">
        <i class="fas fa-phone"></i>
        <h3>Phone</h3>
        <p><a href="tel:+447570881964">+44 7570 881964</a></p>
      </div>
      <div class="info-item">
        <i class="fas fa-envelope"></i>
        <h3>Email</h3>
        <p>
          <a href="mailto:jajtaxirugby@gmail.com">jajtaxirugby&#64;gmail.com</a>
        </p>
      </div>
      <div class="info-item">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Location</h3>
        <p>Rugby, Warwickshire, United Kingdom</p>
      </div>
    </div>
  </div>
</div>
