<div class="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1 class="hero-title">Ride with Confidence</h1>
    <p class="hero-subtitle">
      Reliable, affordable, and professional taxi services in Rugby. Book your
      ride today and experience the comfort and convenience of JAJ Taxi.
    </p>
    <div class="hero-buttons">
      <a routerLink="/services" class="hero-button explore-button"
        >Explore Services</a
      >
      <span class="or-separator">OR</span>
      <a href="tel:+447570881964" class="hero-button call-button">Call Now</a>
    </div>
  </div>
</div>

<div class="landing-container">
  <div class="intro-section">
    <h1 class="intro-title">Welcome to JAJ Taxi</h1>
    <p class="intro-text">
      Welcome to JAJ Taxi – Your Reliable Taxi Service in Rugby! Whether you’re
      commuting to work, enjoying a night out, or planning a long-distance trip,
      JAJ Taxi is here to offer friendly and dependable transportation 24/7.
      With a well-maintained vehicle and a professional, experienced driver, we
      ensure your journey is safe, comfortable, and stress-free. No matter the
      time of day or weather conditions, JAJ Taxi is dedicated to getting you
      where you need to go—punctually and with ease. Trust JAJ Taxi for a ride
      you can rely on!
    </p>
  </div>

  <section class="features">
    <h2 class="section-title">Why Choose Us?</h2>
    <div class="features-grid">
      <div class="feature">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/MUTCD_D9-6.svg/1200px-MUTCD_D9-6.svg.png"
          alt="24/7 Availability"
        />
        <h3>Wheelchair Access</h3>
        <p>We provide wheelchair access for those with disabilities.</p>
      </div>
      <div class="feature">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Car_icon_alone.png"
          alt="Professional Drivers"
        />
        <h3>Professional Drivers</h3>
        <p>
          Our drivers are experienced, courteous, and ensure a safe journey.
        </p>
      </div>
      <div class="feature">
        <img
          src="https://static.thenounproject.com/png/1568675-200.png"
          alt="Friendly Service"
        />
        <h3>Friendly Service</h3>
        <p>We provide friendly and personalised service to our customers.</p>
      </div>
    </div>
  </section>

  <section class="cards">
    <h2 class="section-title">Want to Find Out More?</h2>
    <div class="card-section" id="services">
      <div class="card">
        <div class="card-title">Our Services</div>
        <div class="card-description">
          Discover the range of services we offer, from local rides to
          long-distance travel.
        </div>
        <a href="/services" class="card-button">Learn More</a>
      </div>

      <div class="card">
        <div class="card-title">Contact Us</div>
        <div class="card-description">
          If you have any questions for us, don't hesitate to get in touch.
        </div>
        <a [routerLink]="['/contact']" class="card-button">Contact Us</a>
      </div>
    </div>
  </section>
</div>
