<header class="hero">
  <div class="hero-overlay">
    <div class="hero-content">
      <h1>Rugby Station Pickup</h1>
      <p>
        Reliable Local and Home Pickup Services with JAJ Taxi Rugby – From Your
        Doorstep to Your Destination, We Offer Convenient, Timely, and
        Comfortable Rides for Your Daily Needs and Special Outings.
      </p>
      <a (click)="scrollToBooking()" class="btn btn-primary"> Book Now </a>
    </div>
  </div>
</header>

<main>
  <!-- Features Section -->
  <section class="features">
    <h2 class="section-title">Why Ride With Us?</h2>
    <div class="features-grid">
      <div class="feature">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/MUTCD_D9-6.svg/1200px-MUTCD_D9-6.svg.png"
          alt="24/7 Availability"
        />
        <h3>Wheelchair Access</h3>
        <p>We provide wheelchair access for those with disabilities.</p>
      </div>
      <div class="feature">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Car_icon_alone.png"
          alt="Professional Drivers"
        />
        <h3>Speedy and Punctual</h3>
        <p>
          We value your time and pride ourselves on punctuality. Our drivers are
          committed to getting you to your destination swiftly and on schedule.
        </p>
      </div>
      <div class="feature">
        <img
          src="https://static.thenounproject.com/png/1568675-200.png"
          alt="Friendly Service"
        />
        <h3>Competitive Rates</h3>
        <p>
          Enjoy top-notch service at prices that won’t break the bank.
          Transparency and value are at the core of our pricing.
        </p>
      </div>
    </div>
  </section>

  <!-- Booking Section -->
  <section class="booking" id="booking">
    <h2 class="section-title">Book Your Transfer</h2>
    <form
      class="booking-form"
      [formGroup]="bookingForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Booking Fields -->
      <div class="form-group">
        <h3 class="form-title">Booking Details</h3>
        <label for="name">Your Name</label>
        <input
          id="name"
          type="text"
          placeholder="Your Name"
          formControlName="name"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Your Email</label>
        <input
          id="email"
          type="email"
          placeholder="Your Email"
          formControlName="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input
          id="phone"
          type="tel"
          placeholder="Phone Number"
          formControlName="phone"
          required
        />
      </div>
      <div class="form-group">
        <label for="pickup">Pickup Address/Location</label>
        <input
          id="pickup"
          type="text"
          placeholder="Pickup Address/Location"
          formControlName="pickupLocation"
          required
        />
      </div>
      <div class="form-group">
        <label for="dropoff">Drop-off Address/Location</label>
        <input
          id="dropoff"
          type="text"
          placeholder="Drop-off Address/Location"
          formControlName="dropOffLocation"
          required
        />
      </div>
      <div class="form-group">
        <label for="pickupDate">Date</label>
        <input id="pickupDate" type="date" formControlName="date" required />
      </div>
      <div class="form-group">
        <label for="pickupTime">Time</label>
        <input id="pickupTime" type="time" formControlName="time" required />
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="btn-primary"
        [disabled]="bookingForm.invalid"
      >
        Submit Booking
      </button>
    </form>
  </section>
</main>
