<div class="head-container">
  <h1 class="title">Our Services</h1>
</div>
<div class="btn-container">
  <a href="tel:+447570881964" class="button">Call and Book with us now</a>
</div>
<div class="body-container">
  <div class="text-container">
    <p class="text">
      At JAJ Taxi, we pride ourselves on offering a wide range of reliable and
      convenient taxi services tailored to meet your needs. Whether you require
      a quick ride across town, an airport transfer, or transportation for a
      special occasion, our experienced drivers and well-maintained vehicles
      ensure a smooth and safe journey every time. Operating 24/7, we specialize
      in punctual pickups, competitive pricing, and exceptional customer
      service. From business trips to leisure outings, JAJ Taxi is committed to
      providing a stress-free and enjoyable travel experience. Choose us for
      dependable, professional, and friendly service you can trust.
    </p>
  </div>
  <div class="card-container">
    <app-service-card
      class="service-card"
      *ngFor="let serviceCard of serviceCards"
      [serviceCard]="serviceCard"
    ></app-service-card>
  </div>
</div>
