<body>
  <header class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
      <h1>Reliable Airport Transfer Services</h1>
      <p>
        Experience comfort and reliability with our professional airport
        transfer service. We're here to make your journey stress-free.
      </p>
      <a (click)="scrollToBooking()" class="btn btn-primary"> Book Now </a>
    </div>
  </header>

  <main>
    <!-- Features Section -->
    <section class="features">
      <h2 class="section-title">Why Choose Our Airport Transfer Service?</h2>
      <div class="features-grid">
        <div class="feature">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/MUTCD_D9-6.svg/1200px-MUTCD_D9-6.svg.png"
            alt="24/7 Availability"
          />
          <h3>Wheelchair Access</h3>
          <p>We provide wheelchair access for those with disabilities.</p>
        </div>
        <div class="feature">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Car_icon_alone.png"
            alt="Professional Drivers"
          />
          <h3>Professional Drivers</h3>
          <p>
            Our drivers are experienced, courteous, and ensure a safe journey.
          </p>
        </div>
        <div class="feature">
          <img
            src="https://static.thenounproject.com/png/1568675-200.png"
            alt="Friendly Service"
          />
          <h3>Friendly Service</h3>
          <p>We provide friendly and personalised service to our customers.</p>
        </div>
      </div>
    </section>

    <!-- Pricing Section -->
    <section class="pricing">
      <h2 class="section-title">Our Pricing (Excl. Parking Charge)</h2>
      <table class="pricing-table">
        <thead>
          <tr>
            <th>Destination</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Birmingham</td>
            <td>£50</td>
          </tr>
          <tr>
            <td>Heathrow</td>
            <td>£145</td>
          </tr>
          <tr>
            <td>Manchester</td>
            <td>£145</td>
          </tr>
          <tr>
            <td>Stansted</td>
            <td>£145</td>
          </tr>
          <tr>
            <td>Luton</td>
            <td>£70</td>
          </tr>
          <tr>
            <td>Gatwick</td>
            <td>£170</td>
          </tr>
          <tr>
            <td>East Midlands</td>
            <td>£55</td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Booking Form Section -->
    <section class="booking" id="booking">
      <h2 class="section-title">Book Your Transfer</h2>
      <form
        [formGroup]="bookingForm"
        class="booking-form"
        (ngSubmit)="onSubmit()"
      >
        <input
          type="text"
          formControlName="name"
          placeholder="Your Name"
          required
        />
        <input
          type="email"
          formControlName="email"
          placeholder="Your Email"
          required
        />
        <input
          type="tel"
          formControlName="phoneNumber"
          placeholder="Phone Number"
          required
        />
        <input
          type="text"
          formControlName="pickupLocation"
          placeholder="Pickup Address/Location"
          required
        />
        <input
          type="text"
          formControlName="airportName"
          placeholder="Airport Name"
          required
        />
        <input type="date" formControlName="pickupDate" required />
        <input type="time" formControlName="pickupTime" required />
        <textarea
          formControlName="specialRequests"
          placeholder="Special Requests (optional)"
        ></textarea>

        <div class="radio-group">
          <p>Is this a return trip?</p>
          <div class="radio-options">
            <label>
              <input
                type="radio"
                [value]="true"
                formControlName="isReturnTrip"
              />
              Yes
            </label>
            <label>
              <input
                type="radio"
                [value]="false"
                formControlName="isReturnTrip"
              />
              No
            </label>
          </div>
        </div>

        <div
          *ngIf="bookingForm.get('isReturnTrip')?.value"
          class="return-trip-section"
        >
          <label for="returnDate">Return Date:</label>
          <input type="date" formControlName="returnDate" />
          <label for="returnTime">Return Time:</label>
          <input type="time" formControlName="returnTime" />
        </div>

        <button class="btn btn-primary" type="submit">Submit Booking</button>
      </form>
    </section>
  </main>
</body>
