// General Styles
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2 {
  color: var(--primary-color);
}

// Head Container
.head-container {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 20px;
  text-align: center;

  .title {
    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1rem;
      margin: 0;
    }
  }
}

// Body Container
.body-container {
  padding: 20px;

  // Booking Table Styles
  .booking-table,
  .airport-booking-table {
    margin-bottom: 30px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: var(--secondary-color);
    }

    .table {
      width: 100%;
      border-collapse: collapse;
      background-color: var(--background-color);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      thead {
        background-color: var(--primary-color);

        th {
          text-align: left;
          padding: 10px;
          border-bottom: 2px solid var(--secondary-color);
          font-weight: bold;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid var(--secondary-color);

          &:hover {
            background-color: var(--button-highlight);
            color: var(--background-color);
          }

          td {
            padding: 10px;
            text-align: left;

            &:last-child {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

// Button Styles
button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;

  &.accept-button {
    background-color: green;
    color: white;

    &:hover {
      background-color: darken-color(green, 10%);
    }
  }

  &.decline-button {
    background-color: #f44336;
    color: var(--background-color);

    &:hover {
      background-color: darken(#f44336, 10%);
    }
  }
}
